MyC64-Pocket.zip
_staging_/

dist/Cores/*/bitstream.rbf_r

src/bios/*.o
src/bios/bios.bin
src/bios/bios.elf

src/fpga/ap_core_assignment_defaults.qdf
src/fpga/c5_pin_model_dump.txt
src/fpga/db/
src/fpga/incremental_db/
src/fpga/output_files/*
!src/fpga/output_files/.gitkeep
src/fpga/apf/build_id.mif

__pycache__/
